/* Banner Self-Service CSS */

body {
  font-family: Verdana, Helvetica, "Arial Narrow", sans-serif;
  font-size: 16px;
  margin: 0;
}

/*----------*/
/* Headings */
/*----------*/

/* Reserved for Global Heading */
h1 {
  display: none;
}

/* Reserved for Page Title */
h2 {
  font-weight: 500;
  margin-bottom: 0;
  color: #C75B12;
  font-size: 1.33em;
}

/*-------------*/
/* Page Header */
/*-------------*/

/* Wraps Header, Tabs, Search, Nav Links */
.headerwrapperdiv {
  background-image: url('/wtlgifs/bc-background.png');
  background-repeat: repeat-x;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  border-left: 1px solid #818A8F;
  border-right: 1px solid #818A8F;
}

/* Wraps Header Title and Logo */
.pageheaderdiv1 {
  background-image: url('/wtlgifs/bc-header.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  height: 91px;
  margin: 0;
}

.pageheaderlinks2 p {
  margin-top: 10px;
  margin-bottom: 0;
}

/* Wraps the Search Form and Nav Links */
.headerlinksdiv {
  margin: 0;
}

.headerlinksdiv2 {
  margin-left: .25%;
  font-size: .9em;
}

.pageheaderlinks {
  display: block;
  margin-right: .25%;
  text-align: right;
}

.pageheaderlinks a {
  font-weight: bold;
  font-size: .8em;
}

/*-----------------*/
/* Navigation Tabs */
/*-----------------*/

/* Currently Active Tab */
.tabon {
  padding-left: 12px;
  padding-right: 4px;
  font-weight: bold;
  font-size: .8em;
  background-image: url('/wtlgifs/web_tab_corner.gif');
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-color: #3095B4;
  vertical-align: middle;
}

.tabon a:link, .tabon a:visited, .tabon a:active, .tabon a:hover {
  color: #ffffff;
  text-decoration: none;
  margin-top: 4px;
}

.bgtabon {
  background-color: #3095B4;
  font-size: 3px;
  line-height: 3px;
}

.texttabon {
  color: #ffffff;
}

/* Inactive, but accessible, Tabs */
.taboff {
  padding-left: 12px;
  padding-right: 4px;
  font-weight: bold;
  font-size: .8em;
  background-image: url('/wtlgifs/web_tab_corner.gif');
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-color: #005A8B;
  vertical-align: middle;
}

.taboff a:link, .taboff a:visited, .taboff a:active, .taboff a:hover {
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 4px;
}

.bgtaboff {
  background-color: #005A8B;
}

.texttaboff {
  color: #FFFFFF;
}

/* Disabled Tabs */
.tabdisable {
  padding-left: 12px;
  padding-right: 4px;
  font-weight: bold;
  font-size: .8em;
  background-image: url('/wtlgifs/web_tab_corner.gif');
  color: #444444;
  background-repeat: no-repeat;
  background-color: #818A8F;
  vertical-align: middle;
  text-align: left;
}

.tabdisable + .bgtaboff {
  background-color: #818A8F;
}

/*-----------*/
/* Page Body */
/*-----------*/

.pagetitlediv {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  border-left: 1px solid #818A8F;
  border-right: 1px solid #818A8F;
}

.pagebodydiv {
  margin: 0 auto;
  padding: 4px 10px 10px 10px;
  max-width: 1200px;
  border-left: 1px solid #818A8F;
  border-right: 1px solid #818A8F;
  border-bottom: 1px solid #818A8F;
}

.pagefooterdiv {
  margin: 0 auto;
  max-width: 1200px;
}

/*-------*/
/* Links */
/*-------*/

/* General Link Styles */
a {
  color: #005A8B;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

a:visited {
  color: #005A8B;
}

a:active {
  color: #C75B12;
}

a:hover {
  color: #C75B12;
}

/* Special Links */
.menulinktext {
  font-weight: bold;
  color: #0000ff;
  text-decoration: none;
}

.submenulinktext {
  font-weight: bold;
  color:#0000ff;
  text-decoration: none;
}

.submenulinktext:hover {
  background-color: #1E2B83;
  color: #FFFFFF;
}

.submenulinktext:visited {
  color:#660099;
}

.submenulinktext:visited:hover {
  background-color: #1E2B83;
  color: #FFFFFF;
}

.submenulinktext2 {
  font-size: 1.13em;
  text-decoration: none;
}

.submenulinktext2:hover {
  text-decoration:underline;
}

/*--------*/
/* Tables */
/*--------*/

/* General Table Styles */
table {
  border: none;
}

td, th {
  vertical-align: top;
}

.pageheadertable {
  margin-top: 0px;
}

.pageheadertablecell {
  text-align: left;
}

.pageheadernavlinkstablecell {
  text-align: right;
}

/* Plain Tables */
/* Plain tables are used only for layout */

.pltitle {
  font-weight: bold;
}

.plheader {
  font-weight: bold;
}

.plheader:empty {
  display: none;
}

.plheader > h3 {
  margin-bottom: 0;
}

.pllabel {
  font-weight: bold;
}

.plseparator {

}

.plhighlight {

}

.pldead {

}

.pldefault {

}

.pldefault a {
  text-decoration: underline;
}

.pldefault a.submenulinktext2 {
  text-decoration: none;
}

.pldefault a.submenulinktext2:hover {
  text-decoration: underline;
}

.plwhite {

}

.plheadermenulinks {
  font-size: 100%;
  font-weight: normal;
  /* background-color: #CED5EA; */
}

.headerwrapperdiv .pldefault > p {
  margin: 0;
}

/* Menu Tables */
/* Contains links on menu pages */

.mptitle {

}

.mpheader {

}

.mplabel {

}

.mpwhite {

}

.mpdefault {
  padding: 2px;
}

.indefault {
}

.indefault a {
  text-decoration: underline;
}

/* Data Entry Table */
/* Used to layout tables that request data from user */

.deheader {
  font-weight: bold;
  font-size: .9em;
  text-align: left;
  padding: 2px 20px 2px 2px;
}

.deheader > p {
  margin: 4px 0 0 0;
}

.detitle {
  font-weight: bold;
  font-size: .9em;
  /* Make titles big and chunky. */
  padding-bottom: 1em;
}

.delabel {
  font-weight: bold;
  font-size: .9em;
  vertical-align: middle;
  padding: 2px 20px 2px 2px;
}

.deseparator {
  font-size: .9em;
}

.dehighlight {
  font-size: .9em;
}

.dedead {
  font-size: .9em;
}

.dedefault {
  font-size: .9em;
  padding: 2px 20px 2px 2px;
}

.dewhite {
  font-size: .9em;
}

/* Data Display Table */
/* Used to display columnar data */

.datadisplaytable {
  border-collapse: collapse;
  width: 100%;
}

.datadisplaytable > caption {
  text-align: left;
  font-weight: bold;
  margin: 1em 0 .5em 0;
}

.datadisplaytable td, .datadisplaytable th {
  padding: 4px;
}

.ddheader {
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

.ddheader > p {
  margin: 0;
}

.ddtitle {
  font-weight: bold;
  font-style: normal;
  text-align: left;
  vertical-align: top;
  /* Make titles big and chunky. */
  padding-bottom: 1em;
}

.ddlabel {
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
  vertical-align: middle;
}

.ddlabel > p {
  margin: 0;
}

.ddseparator {

}

.ddhighlight {

}

.dddead {

}

.dddefault {

}

.dddefault > p {
  margin: 0;
}

.dddefault a {
  text-decoration: underline;
}

.ddnontabular {

}

.ddwhite {

}

/* Data Border Table */
/* Used to display columnar data with borders */

.bordertable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #818A8F;
}

.bordertable > caption {
  text-align: left;
  font-weight: bold;
  margin: 1em 0 .5em 0;
}

.bordertable td, .bordertable th {
  padding: 4px;
}

.dbheader {
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

.dbheader > p {
  margin: 0;
}

.dbtitle {
  font-weight: bold;
  font-style: normal;
  text-align: left;
  vertical-align: top;
  /* Make titles big and chunky. */
  padding-bottom: 1em;
}

.dblabel {
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
  vertical-align: middle;
}

.dblabel > p {
  margin: 0;
}

.dbseparator {

}

.dbhighlight {

}

.dbdead {

}

.dbdefault {

}

.dbdefault > p {
  margin: 0;
}

.dbdefault a {
  text-decoration: underline;
}

.dbnontabular {

}

.dbwhite {

}

/* Classes */

.releasetext {
  font-size: .9em;
  text-transform: uppercase;
  color: #818A8F;
}

.requiredmsgtext {
  font-size: .9em;
}

.staticheaders {
  text-align: right;
  font-size:  .9em;
}

.menulinkdesctext {
  font-size: .8em;
}

.bg3 {
  background-color: #C75B12;
  font-size: 3px;
  line-height: 3px;
}

.rightaligntext {
  text-align: right;
}

.skiplinks, .fieldlabeltextinvisible {
  display: none;
}

.fieldformatboldtext {
  font-weight: bold;
}

.centeraligntext {
  text-align: center;
}

.pagefooterlinks {
  text-align: center;
}

.banner_copyright {
  display: none;
}